body {
    background-color: #eeeeee;
    margin: 0rem;
    overflow-x: hidden;
    z-index: -5;
}

header {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px;
    height: 7vh;
    display: flex;
    align-items: center;
    font-family: "Cormorant", serif;
    background-image: url("/Perfil/assets/fondito.jpg");
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.header-left,
.header-right {
    display: flex;
}
  
.logo {
    width: 45px;
}
  
.logo-button{
    transition: transform .4s ease-in-out;
}

.cart-button {
    color: #000000;
    padding: 8px;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.7s ease-in-out;
}
  
.cart-button {
    background-color: rgba(255, 255, 255, 0.5);
}
  
.cart-button span {
    margin-right: 10px;
}
  
.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
  
.logo-button:hover{
    transform: scale(1.2);
}

  
.cart-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
/*                Fin Cosas del HEADER */

main {
    display: flex;
    position: relative;
    top: 4.5vh;
    margin-bottom: 0;
    margin-top: 8vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Cormorant", serif;
}

h1 {
    font-family: "Cormorant", serif;
    font-size: 70px;
    font-weight: 700;
    margin: 5px 20px 20px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7.5vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.5);
}

.datos h1 {
    font-family: "Cormorant", serif;
    font-size: 70px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.datos p {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-family: "Cormorant", serif;
}

.datos form {
    display: flex;
    flex-direction: column;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.input-group:last-child {
    margin-right: 0;
}

.datos label {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.datos input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.datos select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Cormorant", serif;
}

.datos button {
    padding: 10px;
    background-color: #790b0b;
    color: white;
    border-radius: 10px;
    border-width: 0;
    font-size: 1.1em;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: background-color 0.7s, transform 0.7s;
    font-family: Cormorant serif;
    margin-top: 20px;
    width: 48%;
    font-family: "Cormorant", serif;
}

.botones{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.datos button:hover{
    background-color: rgba(0, 0, 0);
    transform: scale(1.05);
}