<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos - ThreadOne</title>
    <link rel="icon" href="/images/LogoThreadOne.png">
    <link rel="stylesheet" href="/styles/favoritos.css">
    <link rel="stylesheet" href="/styles/default_header.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-left">
            <a href="/" class="logo-button">
                <img src="/images/LogoThreadOne.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-right">
            <a href="/carrito" class="cart-button">
                <span>Carrito</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
            </a>
            <% if (typeof email_usuario === 'undefined') { %>
                <a href="/usuario" class="account-button">
                    <span id="greeting">Hey, tú %></span>
                </a>
            <% } %>
            <% if (typeof email_usuario !== 'undefined') { %>
                <a href="/usuario" class="account-button">
                    <span id="greeting">Hey, <%= nombre_usuario %></span>
                </a>
            <% } %>
        </div>
    </header>
    <main>
        
        <section class="information">
            
            <h1>Favoritos</h1>
            
            <p class="subtitle">Tus productos favoritos están aquí!</p>
            
            <section class="favorites">
                <article class="favorite-item">
                    <a href="StickerGranada.html">
                        <div class="image-container">
                            <img src="/images/stickers/Granada.png" alt="Sticker" class="product-image">
                        </div>
                        <h2>Sticker Granada</h2>
                        <p class="price">$MX20.00</p>
                        <p class="availability">Disponible</p>
                    </a>
                    <button class="remove-favorite" aria-label="Eliminar producto de favoritos">
                        <img src="/images/IconoEliminar.webp" alt="Eliminar" class="remove-icon">
                    </button>
                </article>
                <article class="favorite-item">
                    <a href="StickerLinux.html">
                        <div class="image-container">
                            <img src="/images/stickers/Linux.png" alt="Sticker" class="product-image">
                        </div>
                        <h2>Sticker Linux</h2>
                        <p class="price">$MX20.00</p>
                        <p class="availability">Disponible</p>
                    </a>
                    <button class="remove-favorite" aria-label="Eliminar producto de favoritos">
                        <img src="/images/IconoEliminar.webp" alt="Eliminar" class="remove-icon">
                    </button>
                </article>
                <article class="favorite-item">
                    <a href="StickerDeveloper.html">
                        <div class="image-container">
                            <img src="/images/stickers/Developer.png" alt="Sticker" class="product-image">
                        </div>
                        <h2>Sticker Developer</h2>
                        <p class="price">$MX20.00</p>
                        <p class="availability">Disponible</p>
                    </a>
                    <button class="remove-favorite" aria-label="Eliminar producto de favoritos">
                        <img src="/images/IconoEliminar.webp" alt="Eliminar" class="remove-icon">
                    </button>
                </article>
                
            </section>
        </section>
    </main>
</body>
</html>