<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login & Registration Forms</title>
        <style>
            .container { 
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid black;
            }

            .form-container {
                margin-bottom: 20px;
                margin-top: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            label {
                margin-bottom: 5px;
            }

            input {
                padding: 5px;
                margin-bottom: 10px;
            }

            button {
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #45a049;
            }

            span {
                color: red;
                margin-bottom: 10px;
            }

            h2 {
                text-align: center;
            }

            #close-session {
                background-color: #f44336;
            }

            #close-session:hover {
                background-color: #d32f2f;
            }
        </style>
    </head>
    <body>
        <div class = "container">
            <% if (typeof email_usuario !== 'undefined') { %>
                <div class="form-container">
                    <h2>Hola, <%= nombre_usuario %></h2>
                    <p>Estás en el panel de administración</p>
                    <button id="close-session">Cerrar sesión</button>
                </div>
            <% } %>
            <% if (typeof email_usuario === 'undefined') { %>
                <div class="form-container">
                    <form id="login-form">
                        <h2>Login</h2>
                        <label for="login-email">Email</label>
                        <input type="email" id="login-email" name="email_usuario" required>
    
                        <label for="login-password">Password</label>
                        <input type="password" id="login-password" name="contrasena_usuario" required>
    
                        <button type="submit">Login</button>
                        <span>&nbsp;</span>
                    </form>
                </div>
                <div class="form-container">
                    <form id="register-form">
                        <h2>Register</h2>
                        <label for="register-email">Email</label>
                        <input type="email" id="register-email" name="email_usuario" required>
    
                        <label for="register-password">Password</label>
                        <input type="password" id="register-password" name="contrasena_usuario" required>
    
                        <button type="submit">Register</button>
                        <span>&nbsp;</span>
                    </form>
                </div>
            <% } %>
        </div>
        <script>
            const $ = el => document.querySelector(el);
    
            const loginForm = $('#login-form');
            const loginSpan = $('#login-form span');
    
            const registerForm = $('#register-form');
            const registerSpan = $('#register-form span');
    
            const logoutButton = $('#close-session');
    
            loginForm?.addEventListener('submit', e => {
                e.preventDefault();
                const email_usuario = $('#login-email').value;
                const contrasena_usuario = $('#login-password').value;
    
                fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email_usuario, contrasena_usuario })
                })
                .then(res => {
                    if (res.ok) {
                        loginSpan.innerText = 'Sesión iniciada correctamente';
                        loginSpan.style.color = 'green';
                        setTimeout(() => {
                            window.location.href = '/protected';
                        }, 1000);
                    } else {
                        loginSpan.innerText = 'Error al iniciar sesión';
                        loginSpan.style.color = 'red';
                    }
                });
            });
    
            registerForm?.addEventListener('submit', async (e) => {
                e.preventDefault();
                const email_usuario = $('#register-email').value;
                const contrasena_usuario = $('#register-password').value;
    
                fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email_usuario, contrasena_usuario })
                })
                .then(res => {
                    if (res.ok) {
                        registerSpan.innerText = 'Usuario registrado correctamente';
                        registerSpan.style.color = 'green';
                        setTimeout(() => {
                            window.location.href = '/protected';
                        }, 2000);
                    } else {
                        registerSpan.innerText = 'Error al registrar usuario';
                        registerSpan.style.color = 'red';
                    }
                });
            });
    
            logoutButton?.addEventListener('click', e => {
                e.preventDefault();
                fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(res => {
                    console.log(res);
                    window.location.href = '/';
                });
            });
        </script>
    </body>
    </html>
    