body {
    background-color: #eeeeee;
    margin: 0rem;
    overflow-x: hidden;
    z-index: -5;
}

main {
    display: flex;
    position: relative;
    top: 8vh;
    margin: 10%;
    margin-bottom: 0;
    margin-top: 7vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Cormorant", serif;
}

header {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px;
    height: 7vh;
    display: flex;
    align-items: center;
    font-family: "Cormorant", serif;
    background-image: url("/images/FondoHeader.jpg");
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.header-left,
.header-right {
    display: flex;
}
  
.logo {
    width: 45px;
}
  
.account-button,
.cart-button,
.favorites-button {
    color: #000000;
    padding: 9px;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
  
.account-button{
    background-color: transparent;
    color: #eeeeee;
}
  
.cart-button, 
.favorites-button {
    background-color: rgba(255, 255, 255, 0.5);
}
  
.cart-button span,
.favorites-button span {
    margin-right: 10px;
}
  
.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
  
.account-button:hover,
.cart-button:hover,
.favorites-button:hover,
.logo-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.perfil{
    color: white;
}

main {
    padding: 20px;
}

.container {
    display: block;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

}
  
.left-container, .right-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.5);
    padding: 3%;
    box-sizing: border-box;
}
  
.left-container {
    width: 65%;
}
  
.right-container {
    width: 30%;
}
  
  /* Information and Summary Styles */
.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.5);
    width: 520px;
}
  
.otros {
    flex-direction: column;
    justify-content: space-around;
    margin: 2vh;
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 20px 20px 70px rgba(0, 0, 0, 0.5);
}
  
  .otros {
    max-width: 350px;
    width: 100%;
    height: fit-content;
  }
  
  .datos h1, .otros h1 {
    font-family: "Cormorant", serif;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
  }
  
  
  .cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .products-container {
    width: 100%;
    max-width: 65%;
  }
  
  .summary-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .promo-input {
    font-family: "Cormorant", serif;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .summary-content {
    border-top: 1px solid #e2e8f0;
    padding-top: 1rem;
  }
  
  .summary-row, .summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .summary-total {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  
  .buy-button {
    padding: 10px;
      background-color: #790b0b;
      color: white;
      border-radius: 10px;
      border-width: 0;
      font-size: 1.1em;
      cursor: pointer;
      outline: none;
      box-shadow: none;
      width: 100%;
      transition: background-color 0.7s, transform 0.7s;
      font-family: "Cormorant", serif;
      margin-top: 20px;
  }
  
  .buy-button:hover {
    background-color: rgba(0, 0, 0);
    transform: scale(1.05);
  }
  
  /* Product Styles */
  .product {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e8f0; /* Línea separadora */
  }
  
  .product img {
  
    height: 10rem;
    border-radius: 0.5rem;
  }
  
  .product-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .product-info h2 {
    font-weight: bold;
  }
  
  .product-info p {
    margin-top: 0.5rem;
  }
  
  .product-info select, .product-info input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Cormorant", serif;
  
  }
  
  .product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 0;
    width: 100px;
  }
  
  .product-actions span {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .product-actions button {
    background-color: transparent;
    border: none;
    color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: center;
    transition: transform .5s ease-in-out;
    background-image: url("/images/IconoEliminar.webp");
    background-size: cover;
  }
  
  .product-actions button:hover {
    color: transparent;
    transform: scale(1.5);
  }
  
  .product-info > div{
    border-right: 1px solid #e2e8f0;
    padding-right: 20px;
  }
  
  .product-actions{
    margin: 20px;
  }
  
  .product:last-child {
    border-right: none; /* Quita la línea del último producto */
  }
  
  .promo{
    margin-top: 10px;
    max-width: 400px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section img {
    border-radius: 20px;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 10px;
  
}
body {
    font-family: 'Cormorant', serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.payment-methods label {
    display: flex;
    margin: 0;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1.1em;
    padding: 10px 10px;
}

.payment-methods input[type="radio"] {
    display: none;
}
.payment-details {
    display: none;
    margin-top: 20px;
}

.payment-details.active {
    display: block;
}

.payment-option input[type="radio"] {
    display: none;
}

.payment-option {
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #000;
    display: inline-block;
}

#card-number, #card-expiry, #card-cvv{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 300px;
}

#card-cvv{
    margin-bottom: 0;
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.payment-option.selected {
    background-color: #790b0b;
    color: white;
}

.textito{
    font-size: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px ;
}

.pick-up label {
    margin: 0;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 10px;
}

.pick-up input[type="radio"] {
    display: none;
}

.locacion input[type="radio"] {
    display: none;
}

.locacion.selected {
    background-color: #b7b2b2;
    color: white;
}

.locacion {
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #000;
    display: inline-block;
}

.locacion p{
    margin: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.show {
  display: block;
  opacity: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Cormorant", serif;
  transition: transform 0.3s ease;
}

.popup.show .popup-content {
  transform: translate(-50%, -50%) scale(1);
}

.popup-content p {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content .info{
  font-size: 20px;
}

#closePopup {
  padding: 10px 20px;
  background-color: #790b0b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Cormorant", serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#closePopup:hover {
  background-color: #5e0909;
}