body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3ececda;
}

header {
    background-image: url(../utilis/FondoHeader.png);
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left,
.header-right {
    display: flex;
}

.logo {
    width: 45px;
}

.account-button,
.cart-button {
    color: #000000;
    padding: 8px;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.account-button{
    background-color: transparent;
}

.cart-button {
    background-color: rgba(255, 255, 255, 0.5);
}

.account-button span,
.cart-button span {
    margin-right: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.account-button:hover,
.cart-button:hover,
.logo-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

main {
    padding: 20px;
}

.favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.favorite-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    position: relative;
    transition: transform 0.2s;
}

.favorite-item a {
    text-decoration: none;
    color: inherit;
}

.favorite-item:hover {
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-item h2 {
    font-size: 1.2em;
    margin: 15px 0;
    color: #333;
}

.price {
    font-size: 1.1em;
    color: #000000;
    margin: 10px 0;
}

.availability {
    font-size: 0.9em;
    color: green;
    text-align: center;
}

.remove-favorite {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.remove-icon {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.remove-favorite:hover .remove-icon {
    filter: brightness(0.8);
}

@media (max-width: 768px) {
    .favorites {
        flex-direction: column;
        align-items: center;
    }

    .favorite-item {
        width: 90%;
    }

    .header-left,
    .header-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .account-button,
    .cart-button {
        margin-left: 0;
        margin-top: 10px;
    }
}
