.imagen_superior{
    width: 100%; /* Ancho completo de la página */
    height: 80px; /* Altura del rectángulo */
    background-image: url('../Galeria_Imagenes/superior.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajustar la imagen para cubrir todo el rectángulo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
}

body{
    margin: 0;
    padding: 0;
}