.rectangulo_fav{
    width: 105px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 30px;
    opacity: 54%;
    top: 20px;  
    right: 300px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align:start;
}

.rectangulo_fav p {
    font-size: 15px;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    color: rgb(0, 0, 0);
}

.corazon{
    background-image: url('../Galeria_Imagenes/corazon.png');
    display: flex;
    width: auto;
    height: 10px;
    /*PENDIENTE*/
}

.imagen_superior{
    width: 100%; /* Ancho completo de la p치gina */
    height: 85px; /* Altura del rect치ngulo */
    background-image: url('../Galeria_Imagenes/superior.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Ajustar la imagen para cubrir todo el rect치ngulo */
    background-position: center; /* Centrar la imagen */
}

.circulo_corazon{
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 180px;
    top: 23px;  
    right: 303px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
}

.saludo{
    font-size: 15px;
    font-weight:bold;   
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    top: 25px;  
    right: 180px;
    display: flex;
    position: absolute;
    justify-content: end;
}

.imagen_usuario{
    width: 200px;
    height: auto;
    background-image: url('../Galeria_Imagenes/kira.jpeg');
    border-radius: 180px;
    top: 25px;  
    right: 160px;
    position: absolute;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-top: 30px;
    
}

.cart-item {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    width: 600px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
    

}

.product-name {
    font-size: 18px;
    margin: 0 0 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.product-price {
    font-size: 16px;
    margin: 0 0 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.product-availability {
    font-size: 14px;
    margin: 0 0 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.disponible {
    color: green;
}

.inactivo {
    color: red;
}

.item-options {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.item-options button {
    margin-top: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: none;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

.item-options select {
    margin-top: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.item-options span{
    margin-top: 50px;
}

.remove-btn {
    background: none;
    border: none;
    color: red;
    font-size: 24px;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: none;
    font-size: 16px;
    cursor:pointer;
}

.quantity {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.total {
    margin: 20px;
    padding: 20px;
    height: 500px;
    width: 400px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#promo-code {
    margin-top: 17px;
    margin-bottom: 6px;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.summary p {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 6px;
    font-weight: bold;
    color: #0056b3;
    font-family:Arial, Helvetica, sans-serif;
}

.summary .tot{
    color:#55a7ff;
}
.checkout-btn {
    width: 300px;
    padding: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #0056b3;
}

.sub{
    font-weight: bold;

}

.linea_punteada {
    border: none;
    border-top: 2px dashed rgb(110, 110, 110); /* Estilo punteado */
    margin: 20px 0; /* M치rgenes superior e inferior */
    width: 100%; 
}

.linea_lisa{
    border: non;
    border-top: 1px solid rgb(110, 110, 110); /* Estilo punteado */
    margin: 3px 0; 
    width: 100%; 
}

body{
    margin: 0;
    padding: 0;
    background-color:#E9E9E9 ;
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;

}

h3{
    text-align: center;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: #828282;
}