header {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px;
    height: 7vh;
    display: flex;
    align-items: center;
    font-family: "Cormorant", serif;
    background-image: url("/Perfil/assets/fondito.jpg");
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

.header-left,
.header-right {
  display: flex;
}

.logo {
  width: 45px;
}

.logo-button{
  transition: transform .4s ease-in-out;
}

.account-button,
.cart-button {
  color: #000000;
  padding: 8px;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 20px;
  transition: background-color 0.7s ease-in-out;
}

.account-button{
  background-color: transparent;
  color: white;
}

.cart-button {
  background-color: rgba(255, 255, 255, 0.5);
}

.cart-button span {
  margin-right: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.logo-button:hover{
  transform: scale(1.2);
}

.account-button:hover{
  background-color: rgba(255, 255, 255, 0.35);
}

.cart-button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
